/*---------------------------------------------------------Titulo de Proyectos-----------------------------------------------------*/
.project-intro-heading {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  color: #1F2A44; /* Verde oscuro casi negro */
  margin-bottom: 1.5rem;
}

/*---------------------------------------------------------Cards de Proyectos-----------------------------------------------------*/
.project-section {
  background-size: cover;
  background-position: center;
  padding: 2rem;
  padding-top: 0;
  color: white;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* M치ximo 2 columnas */
  gap: 2rem;
  margin-top: 2rem;
}

.project-card {
  position: relative; /* NECESARIO para que el ribbon se ancle dentro */
  background-color: #FFFFFF;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1rem;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: scale(1.02);
}

.project-logo img {
  width: 250px; /* M치s grande */
  height: 190px;
  object-fit: contain;
}

.project-image {
  position: relative;
  height: 200px;
}

.project-image img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.project-image a {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0,0,0,0.4);
  color: white;
  padding: 0.6rem 1.2rem;
  border: 2px solid white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
  transform-origin: center center;
}

.project-image a:hover {
  background-color: rgba(0, 0, 0, 0.6);
  transform: translate(-50%, -50%) scale(1.08);
}

/* Ribbon triangular en la esquina superior izquierda */
.developer-ribbon {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 120px;
  overflow: hidden;
  pointer-events: none;
  z-index: 50; /* m치s alto para que quede encima */
}

.developer-ribbon .ribbon-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 170px;
  background-color: #E97A57;   /* naranja */
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.2;
  transform: rotate(45deg);    /* inclinaci칩n hacia la derecha */
  top: 27px;
  right: -40px;
  height: 40px;
}

/*-----------------------------------------------Detalle del proyecto------------------------------------------------*/
.project-detail {
  padding: 0rem 2rem;
  width: 80%;
  margin: 0 auto;
}

.project-detail h2 {
  text-align: left;
  color: #1F2A44;
  padding: 2rem;
  margin: 0px;
}

.project-detail-logo {
  text-align: center;
  margin: 0px;
}

.project-detail-logo img {
  max-width: 250px;
  height: auto;
  object-fit: contain;
}

.detail-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.detail-grid h3 {
  margin-top: 0;
  color: #1F2A44;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.detail-grid p {
  margin: 0.3rem 0;
  font-size: 18px;
  line-height: 1.4;
  color: #333;
}

.bullet-list li {
  margin-bottom: 0.6rem;       /* espacio extra entre renglones */
  font-size: 18px;
}

/*-----------------------------------------------Boton ver propiedades------------------------------------------------*/
.project-detail-button {
  display: flex;
  justify-content: flex-start; /* ahora se alinea a la izquierda */
  margin: 1rem 0;
}

.project-detail-button .styled-button {
  background-color: #E97A57;
  color: white;
  border: none;
  border-radius: 50px;          /* forma m치s redondeada */
  padding: 0.6rem 1.2rem;
  font-weight: bold;
  font-size: 1.05rem;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;      /* centra el texto dentro del bot칩n */
  align-items: center;
  min-width: 200px;             /* ancho m칤nimo */
  position: relative;
  overflow: hidden;
  text-decoration: none;        /* quitar subrayado */
  margin: 1rem 0;
  text-align: center;
}

.project-detail-button .styled-button:hover {
  background-color: #cf623f;    /* tono m치s oscuro al pasar el mouse */
  transform: scale(1.05);
}

/* 칈cono Google Maps */
.maps-icon img {
  width: auto;          /* se adapta al ancho natural */
  height: 20px;         /* altura fija */
  margin: 0;
  padding: 0;
  transition: transform 0.3s ease;
  cursor: pointer;      /* muestra el cursor de enlace */
}

.maps-icon img:hover {
  transform: scale(1.1); /* efecto zoom al pasar el mouse */
}

/*-----------------------------------------------Galeria de Fotos------------------------------------------------*/
.gallery-intro-heading{
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  color: #F5F5DC; /* Verde oscuro casi negro */
  padding: 1.5rem;
  margin: 0px;
}

.project-gallery {
  padding: 0rem 2rem 2rem 2rem;
  background-color: #1F2A44;
}

.gallery-row {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.gallery-row img {
  width: 24%;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.3s;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.445);
}

.gallery-row img:hover {
  transform: scale(1.03);
}

/*-----------------------------------------------Ventana Modal------------------------------------------------*/
.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal.hidden {
  display: none;
}

.modal-content {
  max-width: 85%;
  max-height: 85%;
  border-radius: 8px;
}

.modal-nav {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  pointer-events: none; /* permite que solo los botones sean clickeables */
}

.modal-nav button {
  pointer-events: auto;
  color: #F5F5DC;
  background: none;
  border: none;
  font-size: 4rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: transform 0.2s ease;
}

.modal-nav button:hover {
  transform: scale(1.1);
  color: #E97A57;
}

.close {
  position: absolute;
  top: 1rem;
  right: 3rem;
  font-size: 4rem;
  color: #F5F5DC;
  cursor: pointer
}

.close:hover {
  transform: scale(1.1);
  color: #E97A57;
}


/* 游님 Responsive ajustes adicionales */
@media (max-width: 768px) {

  .project-intro-heading{
    font-size: 1.4rem;
  }
  .gallery-intro-heading{
    font-size: 1.4rem;
    padding-right: 0.1rem;
    padding-left: 0.1rem;
  }
  .project-logo {
      height: 160px;
  }
  .project-logo img {
    height: 100%;
  }
  .project-grid {
    grid-template-columns: 1fr; /* Una columna en pantallas peque침as */
  }
  .project-card {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .project-logo img {
    margin: 0 auto;
  }
  .project-section {
    padding: 0 0 2rem 0;
    margin: auto;
    width: 90%;  
  }
  .project-image a {
    position: absolute;       /* sigue siendo absoluto */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;                /* elimina margen extra */
    padding: 0.8rem 1.5rem;   /* tama침o c칩modo en m칩vil */
    display: inline-block;    /* mantiene forma de bot칩n */
  }
  .detail-grid { 
    grid-template-columns: 1fr; /* una sola columna en pantallas peque침as */
  }
  .project-gallery{
    padding-left: 0;
    padding-right:0;
  }
  .gallery-row img {
  width: 29%;
  }

  .modal-nav {
    position: absolute;
    bottom: 15px;       /* las coloca al fondo del modal */
    top: auto;          /* elimina centrado vertical */
    left: 0; right: 0;
    transform: none;    /* quita translateY */
    display: flex;
    justify-content: center; /* ambas flechas juntas centradas */
    gap: 2rem;          /* espacio entre ellas */
    
  }

  .modal-nav button {
    font-size: 2rem;    /* m치s compactas en m칩vil */
    padding: 0.3rem 0.6rem;
  }
}
