.servicios-adicionales {
  padding:  0rem 2rem 2rem 2rem;
}

.servicios-heading {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: #1F2A44;
  margin-bottom: 2rem;
  font-family: 'Poppins', sans-serif;
}

.servicios-grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.servicio-card {
  display: flex;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.servicio-card.normal {
  flex-direction: row;
}

.servicio-card.invertido {
  flex-direction: row-reverse;
}

.servicio-imagen {
  width: 33.33%;
}

.servicio-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.servicio-texto {
  width: 66.66%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.servicio-texto h3 {
  font-size: 1.5rem;
  color: #1F2A44;
  margin-bottom: 1rem;
}

.servicio-texto p {
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
}

